html {
  height:100%;
}
body {
  font-family: system-ui;
  background: rgb(162,197,254);
  background: linear-gradient(156deg, rgba(162,197,254,1) 44%, rgba(194,233,251,1) 100%); 
}
h1 {
  font-weight: 400;
}
p {
  font-weight: 300;
}
button {
  background-color: #fff;
  color: #4052b5;
  padding: 10px 20px;
  margin: 12px 0;
  border: #4052b5 1px solid;
  cursor: pointer;
  min-width: 6em;
  border-radius: 30px;
}
button.filled {
  background-color: #4052b5;
  color: white;
}
button.with-margin{
  margin: 12px 8px;
}

input {
  width: 100%;
  padding: 14px 0;
  background-color: #f7f7f7;
  margin: 8px 0;
  border: #dbdbdb 1px solid;
}

.container {
  margin: 200px auto;
  text-align: center;
  width: 50%;
}

.content {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.form-modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.form-modal-content {
  background-color: white;
  margin: auto;
  padding: 32px;
  width: 40%;
  border-radius: 10px;
}

.container {
  padding: 16px;
  background-color: white;
  border-radius: 10px;
}

.entries-list-container {
  display: none;
  background-color: #f7f7f7;
  border: #dbdbdb 1px solid;
}

.buttons-row {
  display: flex;
  justify-content: space-between;
}

.buttons-row.align-right {
  justify-content: flex-end;
}

.single-entry {
  text-align: start;
  padding: 10px;
  cursor: pointer;
}
.single-entry.selected{
  background-color: rgba(64, 82, 181, 0.7);
  color: white;
}